@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .footer-icon {
    @apply w-10 h-10 rounded-full bg-white text-[#245680] flex items-center justify-center cursor-pointer hover:scale-105 transition;
  }
}

:root {
  /* Brand Colors */
  --color-primary: #235784;
  --color-primary-dark: #1b4565;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray-light: #f5f5f5;
  --color-gray-border: #e6e6e6;
  --color-gray-text: #555555;
  --color-gray-muted: #999999;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-black);
  background-color: var(--color-white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--color-primary);
  text-decoration: inherit;
}

a:hover {
  color: var(--color-primary);
  opacity: 0.85;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-primary);
  color: var(--color-white);
  cursor: pointer;
  transition:
    background-color 0.18s ease,
    transform 0.08s ease;
} */


button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--color-black);
    background-color: var(--color-white);
  }
}